.convert__div {
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 65px
}
.btn__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_switch {
  all:unset;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  color:#388e3c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}
.btn_switch:hover {
  transform: scale(1.1);
}
